img{
    width: 150px;
    margin-top: 110px;
}
body{
    background-image: url(bg11.webp);

}
table{
    background-color: rgb(129, 196, 219);
        width: 25%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #555;
        outline: none;
}
button{
    cursor: pointer;
    padding: 8px 16px;
    background-color: lightblue;
}
select{
    cursor: pointer;
    border-radius: 4px;
    background-color: #f1f1f1;
    padding: 8px 16px;
}
input[type="radio"]{
    cursor: pointer;
} 
input[type="text"],input[type="password"]{
    padding: 4px 8px;
}
label{
    margin-right: 0px;
}